/* Post Type: Majors and Degrees
 */
.majors-and-degrees.entry .entry-content .columns .rankings-wrap {
	background-color: #EBEBEA;
}

.entry-header .image-wrap {
	position: relative;
	overflow: hidden;
	max-height: 340px;
}

.entry-header .image-wrap h1 {
	position: absolute;
	left: 0;
	top: 45%;
	color: #fff;
	padding-left: 30px;
	line-height: 1.55;
}

.entry-header .image-wrap h1:after {
	content: "";
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	left: -10%;
	width: 680px;
	height: 65px;
	-ms-transform: skew(-20deg, 0deg); /* IE 9 */
	-webkit-transform: skew(-20deg, 0deg); /* Safari */
	transform: skew(-20deg, 0deg);
	background: rgba(94, 86, 78, .9);
	box-shadow: 5px 0 rgba(80, 0, 0, .7);
}

.entry-header .image-wrap h1 span {
	position: relative;
	z-index: 2;
}

.entry-content h2 {
	color: #5E554E;
}

.entry-content .rankings-wrap h2 ~ * {
	font-size: 1.1em;
	hyphens: auto;
}

@media screen and (min-width: 45.063em){
	.entry-content .columns:first-child,
	.entry-content .columns.rankings .rankings-wrap {
		padding-top: 3rem;
	}

	.entry-content .columns.rankings .rankings-wrap {
		padding-bottom: 3rem;
	}

	.entry-content .columns:first-child {
		padding-left: 5rem;
		padding-right: 3rem;
	}

	.entry-content .columns .rankings-wrap {
		padding-left: 1.75rem;
		padding-right: 1.75rem;
	}

	.entry-content .columns .rankings-wrap h2,
	.entry-content .columns .rankings-wrap p,
	.entry-content .columns .rankings-wrap div {
		padding-left: .6rem;
		padding-right: .6rem;
	}
}
